<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visa.kigen.mapper.HomeMapper">
 
    <select id="selectAll" resultType="com.visa.kigen.model.HomeModel">
        SELECT * FROM b_visa ORDER BY "id" DESC;
    </select>
    <select id="searchuser" resultType="com.visa.kigen.model.HomeModel">
        SELECT * FROM b_visa where username = #{searchuser};
    </select>
    <select id="searchid" resultType="com.visa.kigen.model.HomeModel">
        SELECT * FROM b_visa where id = #{searchid};
    </select>
   
   
</mapper>